body {
  margin: 0;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.activeNav {
  background-color: #eef6ff;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
.ant-select-selection-placeholder {
  color: red;
}
